<div class="container">
    <h3>Adicionar Comentario</h3>

    <form action="/add-comments" method="POST" class='comment-form-container'> 
        <label for="">Nome</label>
        <input type="text" name="nome" class="input-field" ><br><br>
        <label for="">Comentário</label>
        <textarea name="comentario" id="" cols="30" rows="10" class="input-field "></textarea>
        <button type="submit" class="btn-submit">Enviar</button>
    </form>

</div>