*{
    margin: 0;
    padding: 0;
}

a{
  text-decoration: none;
  color: slategray
}

body {
    font-family:Inter;
    color: slategray;
    background-color: #ffffff;
  }
  
  li {
    display: inline;
    padding: 0 0rem 0 2rem;
}

  nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 92%;
    padding: 1rem 0 1rem 0;
    align-self: center;
    justify-content: flex-end;
}

  .container{
      padding: 20px;
      background:rgb(242,243,248);
      max-width: 90%;
      margin: 0 auto;
      border-radius: 10px;
  }
  
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  a div.card {
    min-height: 600px;
  }
  
  .card {
    width: 300px;
    min-width: 300px;
    height:auto;
    background:#fff;
    border-radius:30px;
    position:relative;
    z-index:10;
    margin:25px;
    min-height:400px;
    cursor:pointer;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
  }
  
  .card:hover {
    transform:translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  h2.movie-title {
    font-size: 1rem;
    padding-left: 20px;
}

  .card h4 {
    position:absolute;
    left: 0;
    top: 0;
    padding: 15px;
  }
  
  .card i {
    position:absolute;
    right: 0;
    top: 0;
    padding: 15px;
    font-size:1.4rem;
    line-height:3.2rem;
  }
  
  .card .card-text {
    padding: 20px;
  }
  
  p {
    font-size: 1rem;
    opacity: .9;
    margin-top: 10px;
  }
  
  .card .card-img {
    transform: translate(130px,-15px);
    margin: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-out;
}
  .card img {
    height:250px;
  }
  
  .card img.blur {
    position:absulute;
    filter:blur(15px);
    z-index:-1;
    opacity:.40;
    transform: translate(-160px,30px);
    transition: all .35s ease-out;
  }
  
  .card:hover .card-img {
    transform:translate(70px,-15px);
  }
  
  .card:hover .card-img img.blur {
    transform:translate(-100px,35px) scale(.85);
    opacity:.25;
    filter:blur(20px);
  }
  
  .card-content {
    display:flex;
    align-items:initial;
    justify-content:flex-start;
    width:100%;
    overflow:auto;
    padding-top: 100px;
    padding-left:60px;
    padding-right: 50px;
    scroll-behavior:smooth;
  }
  
  .card-content::-webkit-scrollbar {
     height:0px;
  }
  
  .card-content:after {
    content:'';
    display:block;
    min-width:20px;
    height:100px;
    position:relative;
  }
  
  .btn{
    min-width:60px;
    margin:auto 30px;
    height:60px;
    border-radius:20px;
    background:#fff;
    border:0px;
    outline:none;
    cursor:pointer;
    z-index:9999;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    transition: all .25s ease;
  }
  
  .btn:hover{
    box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  }
  
  .btn i {
    font-size:1.2rem;
  }
  
  .slider {
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(242,243,248);
    width:100%;
    height:85vh;
    overflow:hidden;
  }
  
  .slider:after {
    content:'';
    left:98px;
    height:85vh;
    position:absolute;
    width:150px;
    z-index:100;
    background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0)  100%);
    pointer-events:none;
    
  }
  
  .slider:before {
    content:'';
    right:98px;
    height:85vh;
    position:absolute;
    width:150px;
    z-index:100;
    background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1)  100%);
    pointer-events:none;
  }



  .comment-form-container {
    background: rgb(242,243,248);
    border: rgb(221, 221, 224) 1px solid;
    padding: 20px;
    border-radius: 2px;
  }
  
  .input-row {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 98%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
  }
  
  .btn-submit {
    padding: 10px 20px;
    margin-top: 1rem;
    background: rgb(133, 131, 131);
    border: #919191 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100px;
    border-radius: 2px;
      cursor:pointer;
  }
  
  .comentario-display{
    background: rgb(242,243,248);
    border: rgb(221, 221, 224) 1px solid;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
  }
  
  .comment-row {
    border-bottom: #e0dfdf 1px solid;
    margin-bottom: 15px;
    padding: 15px;
  }
  
  .outer-comment {
    background: #F0F0F0;
    padding: 20px;
    border: #dedddd 1px solid;
  }
  
  span.commet-row-label {
    font-style: italic;
  }
  
  span.posted-by {
    color: #09F;
  }
  
  .comment-info {
    font-size: 0.8em;
  }
  .comment-text {
      margin: 10px 0px;
  }
  .btn-reply {
      font-size: 0.8em;
      text-decoration: underline;
      color: #888787;
      cursor:pointer;
  }
  #comment-message {
      margin-left: 20px;
      color: #189a18;
      display: none;
  }


  @media screen and (max-width: 600px){
    .btn{
        min-width:50px;
        margin:auto 10px;
        height:50px;
        border-radius:20px;
        background:#fff;
        border:0px;
        outline:none;
        cursor:pointer;
        z-index:9999;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
        transition: all .25s ease;
      }

    .slider:after {
        content:'';
        left:0px;
        height:90vh;
        position:absolute;
        width:100px;
        z-index:100;
        background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0)  100%);
        pointer-events:none;
        
      }
      
      .slider:before {
        content:'';
        right:40px;
        height:90vh;
        position:absolute;
        width:100px;
        z-index:100;
        background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1)  100%);
        pointer-events:none;
      }
    
}

/* Paginas */

.slider-pages {
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgb(242,243,248);
  width:100%;
  height:auto;
  overflow:hidden;
  padding: 5rem 0px;

}

.card-pages {
  width: 1000px;
  min-width: 300px;
  height:auto;
  background:#fff;
  border-radius:30px;
  margin:25px;
  padding: 25px;
  min-height:480px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-pages-texts{
  
}
figure{
  margin-right: 1.5rem;
}

.pages-titulo{
  margin-bottom: 2rem;
}
h3{
  margin-bottom: 1rem;
}
h5{
  line-height: 1.5rem;
}

.trailer{
  margin-top: 3rem;
}
.btn-pages{
  min-width:80px;
  margin:auto 10px;
  height:50px;
  border-radius:20px;
  background:#fff;
  border:0px;
  outline:none;
  cursor:pointer;
  z-index:9999;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
  transition: all .25s ease;
}

@media screen and (max-width: 1000px){
  .pages-titulo{
    margin-top: 2rem;
  }

  .card-pages {
    width: 1000px;
    min-width: 300px;
    height:auto;
    background:#fff;
    border-radius:30px;
    margin:25px;
    padding: 25px;
    min-height:480px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}